.booking-dashboard-wrapper {
  @include flex-row(space-around, center);
  @include size(90%, 100%);
}

.left-booking-section {
  @include size(100%, 30%);
  @include flex-column(center, flex-start);
}

.filter-wrapper {
  @include size(80%, 85%);
  @include flex-column(flex-start, space-around);
  // padding: 12px;
}

.room-filters {
  @include flex-column(flex-start, center);
  margin: 20px;
}

.single-filter {
  @include flex-row(flex-start, center);
  flex-direction: row-reverse;
}

.date-wrapper {
  @include flex-column(flex-start, flex-start);
  margin: 20px;

  label {
    margin-bottom: 12px;
  }
}

.filter-button-wrapper {
  @include flex-row(center,center);
  @include size('',100%);
}

.available-rooms-wrapper {
  @include size(80%, 90%);
  @include flex-column(center, flex-start);
  overflow: auto;
}

.available-rooms-section {
  @include size(100%, 70%);
  @include flex-column(center, flex-start);
}

.booking-dashboard-section {
  @include sub-section-border();
  @include box-shadow();
  background-color: $white;
}

.booking-error {
  font-size: 18px;
  font-weight:400;
  color:$red;
  margin: 25px;
}
