.customer-dashboard-wrapper {
  @include flex-row(center, flex-start);
  @include size(100%, 100%);
}

.customer-section-left {
  @include flex-column(center, flex-start);
  @include size(100%, 38%);
}

.customer-section-right {
  @include flex-column(center, flex-start);
  @include size(100%, 60%);
}

.total-spent-wrapper {
  @include size(380px, 90%);
  @include flex-row(center, center);

  h4 {
    color: $teal;
    font-size: 60px;
  }
}

.booking-cards-wrapper {
  @include size(380px, 90%);
  @include flex-column(center, flex-start);
  overflow: auto;
}
