.login {
  @include size(375px, 375px);
  @include flex-column(center, center);
  @include box-shadow();
  @include section-border();
  background-color: $light-blue;
  margin-left: 60px;

  input {
    margin: 12px 0 12px 0;
    font-size: 18px;
  }

  h2 {
    margin-bottom: 40px;
  }

  button {
    margin-top: 40px
  }
}

.input-wrapper {
  @include flex-column(flex-start, center);

  label {
    color: $teal;
    font-size: 18px;
  }
}

.login-error {
  height: 14px;
  margin: 15px;
  font-size: 14px;
  color: $red;
}
