@mixin size($x, $y) {
  height: $x;
  width: $y;
}

@mixin flex-row($x, $y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin flex-column($x, $y) {
  display: flex;
  flex-direction: column;
  align-items: $x;
  justify-content: $y;
}

@mixin box-shadow() {
  box-shadow: 2px 4px 4px rgba(41, 100, 106, .2);
}

@mixin section-border() {
  border-radius: 30px;
}

@mixin sub-section-border() {
  border-radius: 20px;
}
