// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;

$background-image: url('../images/hotel-close-up.png');

$light-blue: rgba(198, 224, 225, 0.8);

$white: rgba(255, 255, 255, 1);

$teal: rgba(41, 100, 106, 1);

$teal-hover: rgba(18, 56, 60, 1);

$red: rgba(215, 71, 45, 1)
