/* This is an example of how to import a partial scss file*/
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'nav';
@import 'login';

// font-family: 'Noto Sans', sans-serif;
// 400
// 700
html,
body {
  background: $primary-background;
  background-image: $background-image;
  background-size: cover;
  @include size(100%, 100%);
  font-family: 'Noto Sans', sans-serif;
}

main {
  @include size(80%, 100%);
}
