/* This is an example of how to import a partial scss file*/
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'nav';
@import 'login';
@import 'customer-dashboard';

// font-family: 'Noto Sans', sans-serif;
// 400
// 700
html {
  @include size(100%, 100%);
}

body {
  background-image: $background-image;
  background-size: cover;
  background-repeat: no-repeat;
  @include size(100%, 100%);
  font-family: 'Noto Sans', sans-serif;
}

main {
  @include size(75%, 100%);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: $teal;
  margin: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: $teal;
  margin: 20px;
}

.align-left {
  @include flex-row(flex-start, center);
}

.align-center {
  @include flex-row(center, flex-start);
}

.hidden {
  display: none;
}
